.reviewPage{
  min-height:100vh;
  background:#f5f5f5;
  padding:30px;
  font-family:Arial;
}

.reviewContainer{
  max-width:900px;
  margin:auto;
}

.reviewContainer h1{
  text-align:center;
  margin-bottom:10px;
}

.subtitle{
  text-align:center;
  color:#777;
  margin-bottom:30px;
}

.backBtn{
  width:48px;
  height:48px;
  border-radius:50%;
  background:white;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  box-shadow:0 4px 12px rgba(0,0,0,.1);
  margin-bottom:20px;
}

.reviewCard{
  background:white;
  border-radius:20px;
  padding:22px;
  margin-bottom:20px;
  box-shadow:0 8px 25px rgba(0,0,0,.06);
}

.reviewCard h2{
  margin-bottom:15px;
  color:#ff385c;
}

.reviewCard p{
  margin-bottom:10px;
}

.tags{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.tag{
  background:#ffe7ec;
  color:#ff385c;
  padding:8px 14px;
  border-radius:30px;
  font-size:14px;
  font-weight:bold;
}

.discount{
  color:green;
  font-weight:bold;
}

.submitBtn{
  width:100%;
  padding:18px;
  border:none;
  border-radius:16px;
  background:linear-gradient(
    45deg,
    #ff385c,
    #ff7a00
  );
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
  margin-top:20px;
}

.submitBtn:hover{
  transform:translateY(-2px);
}